{% assign volunteering = site.data.data.volunteering %}
{% if volunteering %}
<section class="volunteering">
    <h2 class="title">Volunteering</h2>
    {% for vol in volunteering %}
        <div class="volunteering-item">
            <div class="role">
                {{vol.role}}
            </div>
            <div class="organization">
                {{vol.company}}
                <span class="time">{{vol.time}}</span>
            </div>
            <div class="details">{{vol.details}}</div>    
        </div>
        
    {% endfor %}
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScmsRVIqWrfdlbMk4D5TwxeJ3PvhISEiGiQ97b4OdABgwXMtw/viewform?embedded=true" width="600" height="400" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>
</section>
{% endif %}
